<section id="todos">
  <header>
    <h2>Editing '<%= @list[:name] %>'</h2>
    <ul>
      <li class="delete">
        <form action="/lists/<%= @list_id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="delete">Delete List</button>
        </form>
      </li>    
    </ul>
  </header>
</section>

<form action="/lists/<%= @list_id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <dl>
    <dt>
      <label for="list_name">Enter a new name for your list:</label>
    </dt>
    <dd>
      <input type="text" name="list_name" placeholder="" value="<%= @list[:name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= @list_id %>">Cancel</a>
  </fieldset>
</form>